
body
{
    font-family: 'Raleway', sans-serif;
}
body h2
{
    font-size: 1.2em;
}
body h3
{
    font-size: 1em;
}
#bloc_page
{
    width:980px;
    height: auto;
    margin: auto;
}
a
{
    color: #181818;
    text-decoration: none;
}
a:hover
{
    color: #0000cc;
    text-decoration: overline;

}
#logo img
{
    width: 120px;
    height: 60px;
}
#menu
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav
{
    margin-left: auto;
}
nav ul
{

    display: flex;
    flex-direction: row;
}


nav ul li
{
    padding-right: 40px;
  list-style-type: none;
    font-weight: bolder;
}
#logo2
{
    width: 120px;
    height: 60px;
}
#menu2 p
{
    padding-left: 40px;
    font-size: 1.2em;
}
#menu2
{
    display: none;

}
nav a:link
{
    color: #0065FC;
}
nav a:visited
{
    text-decoration: underline;
}
 p
{
    font-size: 0.8em;
}
#rechercher
{

    display: flex;
    margin-left: 20px;
}
.fa-map-marker-alt
{
    border: 1px solid #F2F2F2;
    width: 30px;
    height: 30px;
    padding-top: 10px;
    padding-left: 15px;
    background-color:#F2F2F2;
    border-radius: 10px 0px 0px 10px;
    justify-content: center;
    position: relative;
    left: 10px;
}
.fa-search
{
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    background-color:#0065FC;
    border-radius:10px;
    visibility: hidden;
}
#placeholder
{
    border:1px solid #F2F2F2;
    width: auto;
    font-weight: bolder;
    padding-left: 20px;

}
#btn
{
    border: 1px solid #0065FC;
    border-radius: 0 10px 10px 0;
    background-color:#0065FC ;
    color: #DEEBFF;


}
#filtres
{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
#filtres h3
{
    padding-top: 20px;
}
.fa-info-circle
{
    display:inline-block;
    color: #0065FC;
    background-color:white;
}
#categorie
{
    display: flex;
    flex-direction: row;
    text-align: justify;
    font-weight: bolder;
}
#categorie div
{
    margin-left: 30px;
    margin-top: 20px;
    border: 1px solid #DEEBFF;
    border-radius: 50px;
    padding-right: 30px;
}
#categorie i
{
    color: #0065FC;
    background-color:#DEEBFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-top: 10px;
    padding-left: 10px;
    justify-content: center;
}
#container {
    display: flex;
    flex-direction: row;
}
#container h3
{
    font-weight: bolder;
    justify-content: center;
}

#hebergements
{
    width: 600px;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 20px;
    font-size: 0.8em;
}
#hebergements h2
{
    padding: 20px 0px 0px 20px;
}
.for414px
{
    display: none;
}
#hbg_imgs
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}
#hbg_imgs img
{
    width: 170px;
    height: 100px;
    border-radius: 20px 20px 0px 0px;
}
#hbg_imgs div
{

    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;
    background-color: white;
}
.imgs_container
{
    border: 3px solid white;
    box-shadow: -1px 5px 10px rgba(0,0,0,0.4);
    margin-right: 15px;
}
.description
{
    padding-left: 20px;
}
#afficher-plus
{
    margin-left: 20px;
}


section i
{
    color: #0065FC;
}
.fa-euro-sign
{
    color: #181818;
}

.star i:last-of-type
{
    color:#F2F2F2;
}
#populaires
{
    width: 300px;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 20px;
    font-size: 0.8em;
    margin-left: 30px;
    padding-left: 30px;
}
#titre_ppl
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#titre_ppl i
{
    padding-right: 30px;
    padding-top: 20px;
}
.fa-chart-line
{
    color: #181818;
}
#ppl_imgs
{
    display: flex;
    flex-wrap: wrap;
}
.ppl_group
{
    display: flex;
    margin-bottom: 30px;
    border-radius: 20px 0px 0px 20px;
    box-shadow: -1px 5px 10px rgba(0,0,0,0.4);
    border: 3px solid white;

    background-color: white;
    padding-right: 30px;
}

#ppl_imgs img
{
    width: 120px;
    height: 120px;
    padding-right: 5px;
    border-radius: 20px 0px 0px 20px;
}
#activites
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#activites-for414px
{
    display: none;
}
#activites a h3
{
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 0.8em;
    font-weight: bolder;

}

#activites img
{
    border-radius: 20px 20px 0px 0px;
}

.group,#port,#calanques
{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    margin-right: 20px;

}
#port,#pomegues,#frioul,#calanques,#garde,#longchamp
{
    border-radius:20px 20px 20px 20px ;
    box-shadow: -1px 5px 10px rgba(0,0,0,0.4);
}
#port img,#calanques img
{
    width: 220px;
    height: 280px;
}

#frioul,#longchamp
{

    vertical-align: bottom;
    margin-top:40px;
}
#pomegues img
{
    width: 220px;
    height: 110px;

}

#frioul img
{
    width: 220px;
    height: 90px;

}
#garde img
{
    width: 210px;
    height:90px;

}
#longchamp img
{
    width: 210px;
    height: 110px;

}
footer
{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    margin-top: 20px;
}
footer div
{
    margin-right: auto;
    padding: 20px;
}
@media screen and (min-width: 414px) and (max-width: 768px)
{
    #bloc_page
    {
        width: auto;
        height: auto;
    }

    body
    {
        padding: 20px;
    }
    nav ul
    {
        flex-wrap: wrap;
    }
    h2
    {
        overflow-x: scroll;
    }
    #filtres
    {
        flex-wrap: wrap;
    }
    #categorie
    {
        flex-wrap: wrap;
    }
    #container
    {
        width: auto;
        flex-direction: column-reverse;
    }
    #hebergements
    {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    #populaires
    {
        width:auto;
        flex-direction: column;
        margin-bottom: 20px;


    }
    #ppl_imgs div
    {
        align-items: center;
        width:auto;
        margin-right: 20px;
    }
    #ppl_imgs img
    {
        width:auto;
    }

    #activites
    {
        width:100%;
        flex-direction: column;
    }
    .group
    {
        margin-bottom: 20px;
        justify-content: center;
    }

    footer
    {
        flex-direction: column;
        width: auto;
        height: auto;

    }

}
@media screen and (max-width: 414px)
{
    #bloc_page
    {
        width: auto;
    }
    #menu
    {
        display: none;

    }

    #menu2
    {
        display: flex;
        flex-wrap: wrap;
    }
    #menu2 a:hover
    {
        text-decoration: underline;
        color: #0065FC;
    }
    #menu2 a:link
    {
        color: #0065FC;
    }
    #menu2 a:visited
    {
        text-decoration: underline;
        color: #706b64;
    }

    h2
    {
        overflow-x: scroll;
        font-size: 1.5em;
    }
    #btn
    {
        display: none;
    }
    .fa-search
    {
        visibility: visible;
    }
    #filtres
    {
        flex-wrap: wrap;
    }
    #categorie
    {
        flex-wrap: wrap;
    }
    #container
    {
        width: auto;
        flex-direction: column-reverse;
    }
    #hebergements
    {
        width: auto;
        background-color: white;
    }
    .for414-980px
    {
        display: none;
    }
    .for414px
    {
        display: block;
    }
    .imgs_container
    {
        width: auto;
        flex-direction: column;
        border: none;
        margin-right: 20px;
    }
    #hbg_imgs img
    {
        width: 300px;
        border: 3px solid white;
    }
    #populaires
    {
        width: auto;
        flex-direction: column;
    }
    #ppl_imgs div
    {
        align-items: center;
        width: 100%;
        margin-right: 20px;
    }
    #ppl_imgs img
    {
        width:100%;
    }
    .ppl_group
    {
        flex-wrap: nowrap;
    }
    #activites
    {
        display: none;
    }
    #activites-for414px
    {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 0px 20px;
        justify-content: center;
    }
    #activites-for414px h3
    {
        padding-left: 20px;
    }
    #activites-for414px img
    {
        width: 100%;
        margin-left: auto;
        border-radius: 20px 20px 0px 0px;
    }
    #port-for414px,#pomegues-for414px,#frioul-for414px,#calanques-for414px,#garde-for414px,#longchamp-for414px
    {
       box-shadow:-1px 5px 10px rgba(0,0,0,0.4) ;
        margin-top: 30px;
        width:100%;
        justify-content: center;
        border-radius:20px 20px 20px 20px ;
    }
    footer
    {
        flex-direction: column;
        margin-left: 20px;
    }







}












