body
{
    font-family: Arial,Serif;
}
#bloc_page
{
    width:980px;
    height: auto;
    margin: auto;
}
a
{
    color: #181818;
    text-decoration: none;
    font-size: 0.8em;
}
a:hover
{
    color: #0000cc;
}
#logo img
{
    width: 120px;
    height: 60px;
}
#menu
{
    display: flex;
    flex-direction: row;
}
nav
{
    margin-left: auto;
}
nav ul
{
    display: flex;
    flex-direction: row;
}
nav ul li
{
    padding-left: 40px;
    list-style-type: none;
}
header h2
{
    font-size: 1em;
}
header p
{
    font-size: 0.8em;
}
#rechercher i
{
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    background-color:#F2F2F2;
    border-radius: 20px 0px 0px 20px;
}
#rechercher select
{
    border:1px solid #F2F2F2;
    height: 30px;
}
#rechercher input
{
    border: 1px solid midnightblue;
    border-radius: 0 50px 50px 0;
    background-color:midnightblue ;
    color: #DEEBFF;
    height: 30px;
    padding-top: 10px;

}
#filtres
{
    display: flex;
    flex-direction: row;
    margin-top: auto;
}
#categorie
{
    display: flex;
    flex-direction: row;
}
#categorie div
{
    margin-left: 30px;
    margin-top: 20px;
    border: 1px solid #DEEBFF;
    border-radius: 50px;
    padding-right: 30px;
}
#categorie i
{
    color: midnightblue;
    background-color:#DEEBFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-top: 10px;
    padding-left: 10px;
}
#container
{
    display: flex;
    flex-direction: row;
}
#hebergements
{
    width: 600px;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 20px;
    font-size: 0.8em;
}
#hebergements h2
{
    padding: 20px 0px 0px 20px;
}
#hbg_imgs
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}
#hbg_imgs img
{
    width: 170px;
    height: 100px;
    border-radius: 20px 20px 0px 0px;
}
#hbg_imgs div
{
    margin-left: 10px;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 20px;
    background-color: white;
}
#populaires
{
    width: 300px;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 20px;
    font-size: 0.8em;
    margin-left: 30px;
    padding-left: 30px;
}
#titre_ppl
{
    display: flex;
}
#titre_ppl i
{
    padding-left: 50px;
    padding-top: 20px;
}
#ppl_imgs
{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.ppl_group
{
    display: flex;
    margin-top: 20px;
    border-radius: 20px 0px 0px 20px;
    border: 3px solid white;
    border-radius: 20px;
    background-color: white;
    padding-right: 30px;
}
#ppl_imgs img
{
    width: 120px;
    height: 120px;
    padding-right: 5px;
    border-radius: 20px 0px 0px 20px;
}
#activites
{
    display: flex;
    flex-direction: row;
}
#activites div
{
    margin-right:20px;

}
#activites img
{
    border-radius: 20px 20px 0px 0px;
}
.group
{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
}
#port,#pomegues,#frioul,#calanques,#garde,#longchamp
{
    border:3px solid rgba(128 128 128 0.3);
    border-radius: 20px 20px 0px 0px ;
}
#pomegues,#garde
{
    margin-bottom: 20px;
}

#port img,#calanques img
{
    width: 220px;
    height: 280px;
}
#pomegues img
{
    width: 200px;
    height: 100px;

}
#frioul img
{
    width: 200px;
    height: 80px;
    padding-top: 20px;

}
#garde img
{
    width: 200px;
    height: 90px;

}
#longchamp img
{
    width: 200px;
    height: 90px;
    padding-top: 20px;
}
footer
{
    display: flex;
}
footer div
{
    margin-right: 100px;

    padding-top: 20px;
}
@media screen and (min-width: 414px) and (max-width: 768px)
{
    #bloc_page
    {
        width: auto;
    }

    body
    {
        font-size: 1.2em;
        padding: 20px;
    }
    #menu
    {
        flex-direction: row;
        flex-wrap: wrap;

    }
    nav
    {
        margin-right: auto;
    }
    nav ul
    {
        flex-direction:row-reverse;
        font-size: 1.2em;
    }
    h2
    {
        overflow-x: scroll;
    }
    #filtres
    {
        width: auto;
        flex-direction: column;
        padding-top: 10px;
    }
    #categorie
    {
        flex-wrap: wrap;
    }
    #container
    {
        width: auto;
        flex-direction: column-reverse;
    }
    #hebergements
    {
        width: auto;
        margin-left: auto;
    }
    #hebergements img
    {
        text-align: center;
    }
    #populaires
    {
        width: auto;
        flex-direction: column;
        margin-bottom: 20px;
    }
    #ppl_imgs div
    {
        align-items: center;
        width:100%;
        margin-right: 20px;
    }
    #ppl_imgs img
    {
        width:100%;
    }
    #activites
    {
        width:100%;
        flex-direction: column;
        margin:auto;
    }
    #activites img
    {
        width: 100%;
    }

    footer
    {
        flex-direction: column;
    }

}
@media screen and (max-width: 414px)
{
    #bloc_page
    {
        width: auto;
    }
    #menu
    {
        display: flex;
        flex-wrap: wrap;

    }

    nav
    {
        width: auto;
        margin-right: auto;
    }
    nav ul
    {
        flex-direction: column;
        font-size: 1.2em;
    }
    h2
    {
        overflow-x: scroll;
    }
    #filtres
    {
        width: auto;
        flex-direction: column;
        padding-top: 10px;
    }
    #categorie
    {
        flex-wrap: wrap;
    }
    #container
    {
        width: auto;
        flex-direction: column-reverse;
    }
    #hebergements
    {
        width: auto;
        margin-left: auto;
        background-color: white;
    }
    #hbg_imgs div
    {
        width: auto;
        flex-direction: column;
        border:2px solid #F2F2F2;
    }
    #hbg_imgs img
    {
        width: 100%;
        height: 120px;
        border: 3px solid white;

    }
    #populaires
    {
        width: auto;
        flex-direction: column;
        margin-bottom: 20px;
        border-radius: 0px;
    }
    #ppl_imgs div
    {
        align-items: center;
        width: 100%;
        margin-right: 20px;
    }
    #ppl_imgs img
    {
        width:100%;

    }
    .ppl_group
    {
        flex-wrap: nowrap;
    }
    #activites
    {
        width: auto;
        flex-direction: column;
        margin-right: auto;
    }
    .group
    {
        flex-direction: column;

    }
    #activites img
    {
        width: 100%;
        height: 120px;
        margin-left: auto;
    }
    #port,#pomegues,#frioul,#calanques,#garde,#longchamp
    {
        border: 2px solid #F2F2F2;
        margin-top: 30px;
        width:100%;
    }
    footer
    {
        flex-direction: column;
    }







}












